body {
    margin: 0;
    padding: 0;
}

section.overview {
    width: 90%;
    margin: 0 auto 0 auto;
    height: 150px;
    position: relative;
    z-index: 10;
}

section.main {
    width: 100%;
    height: 500px;
    margin: 45px auto 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 5;
}

/*map*/
#map {
    width: 80%;
    height: 100%;
    margin: 0px auto 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.geocoder {
    width: 50%;
    margin: 0px auto 0 auto;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.locate-btn {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 0;
    z-index: 9999;

}

@media all and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    section.main {
        margin: 25px auto 0 auto;
     }
}

@media all and (max-width: 445px) {
    h1 {
        font-size: 1.5rem;
    }
    section.main {
        margin: 5px auto 0 auto;
     }
}

@media all and (max-width: 345px) {
    h1 {
        font-size: 1.5rem;
    }
    section.main {
        margin: 25px auto 0 auto;
     }
}
